.PersonForm {


    display: flex;
    flex-wrap: wrap;

    border-radius: 10px;
    background-color: white;
}

.PersonForm_form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(110, 32, 255);
    border: none;
    border-radius: 10px;
    box-shadow: -10px 0px 10px rgb(201, 201, 201);
}

@media screen and (orientation: portrait) {
    .PersonForm_form {
        
    }
}

.PersonForm_input {
    
    

    align-self: center;
    margin: 10px;
    border: 1px solid transparent;
    border-radius: 22px;
    box-shadow: 0px 0px 5px 1px grey;
}

.PersonForm_button {
    

    align-self: center;

    border: 1px solid transparent;
    border-radius: 22px;
    box-shadow: 0px 0px 5px 1px grey;
}