.EmployeeForm {
    height: 100%;
    max-height: 330px;
    width: 100%;
    max-width: 270px;

    display: flex;
    flex-direction: column;
    text-align: left;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgb(143, 143, 143);
}

.EmployeeForm_label {
    margin-left: 4%;
    padding-top: 1%;
}

.EmployeeForm_input {
    width: 87%;
    height: 10%;
    max-height: 25px;
    min-height: 20px;

    align-self: center;

    padding-left: 8px;
    border: solid 1px rgb(136, 136, 136);
    border-radius: 3px;
}

.EmployeeForm_button {
    margin-top: 4%;
    width: 90%;

    align-self: center;

    background-color: #ffa83d;
    border: 1px solid transparent;
}